@charset "UTF-8";

/* 全体設定 */
html,
body{
    margin:0;
    padding:0;
    width:100%;
    height:100dvh;
    overflow:hidden;
}

/* クッションページ全体の設定 */
.opening{
    position:relative;
    width:100vw;
    height:100dvh;

    background-image:url("../img/coshion/background.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

@media (max-width:768px){
        .opening{
            background-image:url("../img/coshion/background_s.png");
        }
    }

/* 扉のフィールド設定 --- レスポンシブ対応 */
.door-link{
    position:absolute;

    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width:35vw;
    max-width:250px;
    aspect-ratio:5 / 7;
    height:auto;

    display:flex;
}

/* ドアの設定（左右共通） */
.door-left,
.door-right{
    position:relative;
    z-index:1;
    width:50%;
    height:100%;
    object-fit:cover;
    transition:2s ease-in-out;
}

/* ドアの回転軸の設定 */
.door-left{
    transform-origin:left center;
}
.door-right{
    transform-origin:right center;
}

/* ドアにホバーしたときの明るさの設定 */
.door-link:hover .door-left,
.door-link:hover .door-right{
    filter:brightness(1.3);
}

/* ドアが開いたときのライトの設定 */
.light{
    position:absolute;
    z-index:0;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
    width:100%;
    height:100%;
    object-fit:cover;
    opacity:0.5;
    transition:2s;
}

/* ライトの点滅アニメーションの設定 */
.open .door-left{
    transform:perspective(1000px) rotateY(80deg);
}

.open .door-right{
    transform:perspective(1000px) rotateY(-80deg);
}

.open .light{
    opacity:1;
}

/* フラッシュの設定 */
.flash{
    position:fixed;

    top:0;
    left:0;

    width:100vw;
    height:100dvh;

    background:white;

    opacity:0;

    pointer-events:none;

    z-index:999;
}

/* フラッシュの設定（開く時用） */
.open ~ .flash{
    animation:flash 2s forwards;
}

@keyframes flash{

    0%{
        opacity:0;
    }

    20%{
        opacity:0;
    }

    60%{
        opacity:0.1;
    }

    100%{
        opacity:1;
    }

}
